
:root {

    --text-color: #1E1E1E;
    --accent: #E58411;
    --muted: #8D8D8D;
    --text-card-dark-blue: #0D1B39;

    --footer-accent: #F6973F;
    --text-white: #ffffff;
    --bg-gray: #F7F7F7;

    --ui-orange: #E58411;
    --ui-dark-blue: #0D1B39;
    --ui-gray: #EEEEEE;
    --ui-white: #fff;

    --font-main: 'Gilroy', sans-serif;
    --font-card: 'Inter', sans-serif;
}
